// плавное изменение шрифта, при resize страницы
@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/ ($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

// target IE 10+
@mixin for-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

// отключаем hover на touch устройствах
@mixin hover-supported {
  @media not all and (hover: none), (min-width: 0\0) {
    &:hover {
      @content;
    }
  }
}

// breakpoints
$mobile: 375px;
$tablet-portrait: 600px;
$tablet-landscape: 1024px;
$big-desktop: 1366px;
$sidebar-bp: 1600px;

$grid-breakpoints: (
  'xs': $mobile,
  'sm': $tablet-portrait,
  'md': $tablet-landscape,
  'lg': $big-desktop,
  'sidebar-bp': $sidebar-bp
);

$display-breakpoints: (
  'xss-only': 'only screen and (max-width: #{map-get($grid-breakpoints, ' xs
    ') - 1})',
  'xs-only': 'only screen and (max-width: #{map-get($grid-breakpoints, ' sm
    ') - 1})',
  'sm-only': 'only screen and (min-width: #{map-get($grid-breakpoints, ' sm
    ')}) and (max-width: #{map-get($grid-breakpoints, ' md ') - 1})',
  'sm': 'only screen and (min-width: #{map-get($grid-breakpoints, ' sm ')})',
  'md-only': 'only screen and (min-width: #{map-get($grid-breakpoints, ' md
    ')}) and (max-width: #{map-get($grid-breakpoints, ' lg ') - 1})',
  'md': 'only screen and (min-width: #{map-get($grid-breakpoints, ' md ')})',
  'lg-only': 'only screen and (min-width: #{map-get($grid-breakpoints, ' lg
    ')})',
  'lg': 'only screen and (min-width: #{map-get($grid-breakpoints, ' lg ')})',
  'sidebar-bp': 'only screen and (min-width: #{map-get($grid-breakpoints, '
    sidebar-bp ')})',
  'print': 'only print'
);

// media queries

@mixin for-size($size) {
  @media #{map-get($display-breakpoints, $size)} {
    @content;
  }
}
